ul {
  color: aqua;
}
ul li {
  color: azure;
}

ol {
  color: green;
}

ol li {
  color: greenyellow;
}

img {
  width: 350;
  height: 350px;
  margin: 0 auto;
}

body {
  background-color: grey;
}

ul {
  margin: 10px auto;
  text-align: center;
  padding: 5px;
}
